# Development dependencies - install with: pip install -e .[dev]
# Note that none of these dependencies are required for lock functionality itself,
# but only for development, testing, and examples.

# Development tools
pylint>=3.0,<4.0
black>=23.0
mypy>=1.0

# Testing (using built-in unittest)
coverage>=7.0,<8.0

# Examples dependencies
filelock>=3.0,<4.0
pyzmq>=26.0,<27.0

# Optional for colored logs
coloredlogs>=15.0,<16.0