name: CI_ShmLock

on: [push, pull_request]

jobs:
  Unittests:
    # run unit tests (some are already integration tests)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: [3.12.*]
    steps:
      - uses: actions/checkout@v4
      - name: Python unit testing
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run:
          pip install -r requirements.txt
      - name: Run Tests from local files
        run: |
          python -m coverage run -m unittest discover
          coverage report


  Examples:
    # run examples from ./examples folder
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: [3.12.*]
    steps:
      - uses: actions/checkout@v4
      - name: Python example execution
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install shmlock and dependencies
        run:
          pip install . -r requirements.txt
      - name: Run Examples from installed package
        # the examples will prioritize the locally installed package
        run: |
          python ./examples/performance_analysis/run_perf.py
          python ./examples/performance_analysis/run_poll_perf.py


  Pylint:
    # run pylint on source code and examples (only for linux and python 3.12.*)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12.*
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.*
      - name: Install dependencies
        run:
          pip install -r requirements.txt
      - name: Run pylint
        run: |
          pylint tests
          pylint shmlock
          pylint examples
